<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @myproduct.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @myproduct.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @myproduct.image_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @myproduct.price %>
</p>

<p>
  <strong>Bottle size:</strong>
  <%= @myproduct.bottle_size %>
</p>

<p>
  <strong>Company:</strong>
  <%= @myproduct.company %>
</p>

<p>
  <strong>Country:</strong>
  <%= @myproduct.country %>
</p>

<p>
  <strong>Grape type:</strong>
  <%= @myproduct.grape_type %>
</p>

<p>
  <strong>Suit vegetarian:</strong>
  <%= @myproduct.suit_vegetarian %>
</p>

<%= link_to 'Edit', edit_myproduct_path(@myproduct) %> |
<%= link_to 'Back', myproducts_path %>
